
<div class="container pb-5" >
    <div class="row">
        <div class="col-md-8">
            <p><strong>Fields marked with a (<span class="text-danger">*</span>) should be filled.</strong>
            </p>
            <div class="row">
                <div class="form-group col-sm-9">
                    <label for="displayName" class="control-label required">Display Name</label>

                    <input [(ngModel)]="feature.displayName" size="128"
                        maxlength="128" class="form-control" type="text" name="displayName" id="displayName"
                        placeholder="A name for your feature" />
                    <!--<div class="invalid-feedback"
                        *ngIf="solicitacaoForm.controls['endereco'].errors && !solicitacaoForm.controls['endereco'].pristine">
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.required">Endereço é
                            obrigatório.</div>
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.maxlength">O endereço deve
                            conter no
                            máximo 255 caracteres.</div>
                    </div>-->
                </div>
                <div class="form-group col-sm-9">
                    <label for="technicalName" class="control-label required">Technical Name</label>

                    <input [(ngModel)]="feature.technicalName" size="128"
                        maxlength="128" class="form-control" type="text" name="technicalName" id="technicalName"
                        placeholder="An internal name for the feature" />
                    <!--<div class="invalid-feedback"
                        *ngIf="solicitacaoForm.controls['endereco'].errors && !solicitacaoForm.controls['endereco'].pristine">
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.required">Endereço é
                            obrigatório.</div>
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.maxlength">O endereço deve
                            conter no
                            máximo 255 caracteres.</div>
                    </div>-->
                </div>

                <div class="form-group col-sm-3">
                    <label for="expiresOn" class="control-label ">Expiration Date</label>
                    <input [(ngModel)]="expiresOn" mask="99999999" size="8" maxlength="8" class="form-control" type="date"
                        name="expiresOn" id="expiresOn" aria-label="" placeholder=""  />
                    <!-- <div class="invalid-feedback"
                        *ngIf="solicitacaoForm.controls['numero'].errors && !solicitacaoForm.controls['numero'].pristine">
                        <div [hidden]="!solicitacaoForm.controls['numero'].errors.required">Número é
                            obrigatório.</div>
                    </div>-->
                    <div class="invalid-feedback col-auto" *ngIf="mensagemErroEndereco">
                        <div [hidden]="!mensagemErroEndereco">{{mensagemErroEndereco}}</div>
                    </div>                        
                </div>

                <div class="form-group col-sm-6">
                    <label for="description" class="control-label ">Description</label>

                    <input [(ngModel)]="description" size="256"
                        maxlength="128" class="form-control" type="text" name="description" id="description"/>
                    <!--<div class="invalid-feedback"
                        *ngIf="solicitacaoForm.controls['endereco'].errors && !solicitacaoForm.controls['endereco'].pristine">
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.required">Endereço é
                            obrigatório.</div>
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.maxlength">O endereço deve
                            conter no
                            máximo 255 caracteres.</div>
                    </div>-->
                </div>
                <div class="form-group col-sm-6">
                    <label for="inverted" class="">Active</label>
                    <label class="switch">
                        <input  [(ngModel)]="feature.inverted" type="checkbox" value="true" name="inverted" id="inverted">
                        <span class="slider round"></span>
                    </label>
                   <!--<div class="invalid-feedback"
                        *ngIf="solicitacaoForm.controls['endereco'].errors && !solicitacaoForm.controls['endereco'].pristine">
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.required">Endereço é
                            obrigatório.</div>
                        <div [hidden]="!solicitacaoForm.controls['endereco'].errors.maxlength">O endereço deve
                            conter no
                            máximo 255 caracteres.</div>
                    </div>-->
                </div>
                
                <div class="row form-group-radio">
                    <input type="radio"  [(ngModel)]="formType" value="1"> Range<br>
                    <input type="radio"  [(ngModel)]="formType" value="2"> Comma separated<br>
                    <div class="form-group col-sm-4" *ngIf="formType == 1">

                        <p>Provide a range of customer ids</p>
                        <label for="formRangeStart" class="control-label ">From</label>
                        <input  [(ngModel)]="formRangeStart" type="text" name="formRangeStart" id="formRangeStart">
                        <label for="formRangeEnd" class="control-label ">To</label>
                        <input  [(ngModel)]="formRangeEnd" type="text" name="formRangeEnd" id="formRangeEnd">
                        <div class="botoes mt-3" >
                            <button (click)="addRange()" [disabled]="!formRangeStart.length || !formRangeEnd.length"
                                class='btn btn-primary'>Add</button>
                        </div>
                    </div>
                    <div class="form-group col-sm-4" *ngIf="formType == 2">

                        <p>Provide a list of numeric ids separated by comma (e.g. 25,37,68)</p>
                        <label for="formIdList" class="control-label">Customer list</label>
                        <input  [(ngModel)]="formIdList" type="text" name="formIdList" id="formIdList">
                        <div class="botoes mt-3" >
                            <button (click)="addList()" [disabled]="!formIdList.length"
                                class='btn btn-primary'>Add</button>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" >
                        <span *ngFor="let customerId of customerIdList">
                            {{customerId}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="botoes mt-3" >
        <button (click)="create()"
            class='btn btn-primary'>Create</button>
    </div>
</div>