
<div class="row">
    <div class="input-group col-md-8">
        <span class="col-sm-10 col-md-2"><input type="radio"  [(ngModel)]="formType" [value]="1"> Range</span>
        <span class="col-sm-10 col-md-6"><input type="radio"  [(ngModel)]="formType" [value]="2"> Comma separated</span>
    </div>
</div>
<div class="row" *ngIf="formType == 1">
    <div class="input-group col-md-8">
        <p class="lead col-md-10" ><i>Provide a range of customer ids</i></p>
        <div class="col-md-8 justify-content-left">
            <label class="col-sm-2 col-md-1" id="inputGroup-sizing-sm">from</label>
            <input class="col-sm-6 col-md-3" [(ngModel)]="formRangeStart" type="text" mask="9999999999" name="formRangeStart" id="formRangeStart">
        </div>
        <div class="col-md-8 justify-content-left">
            <label class="col-sm-2 col-md-1" id="inputGroup-sizing-sm">to</label>
            <input class="col-sm-6 col-md-3" [(ngModel)]="formRangeEnd" type="text" mask="9999999999" name="formRangeEnd" id="formRangeEnd">
        </div>
        <div class="botoes col-md-8" >
            <button (click)="addRange()" [disabled]="!formRangeStart.length || !formRangeEnd.length"
                class='btn btn-primary'>Add</button>
        </div>
    </div>
</div>
<div class="row" *ngIf="formType == 2">
    <div class="input-group col-md-8">
        <p class="col-md-10 lead"><i>Provide a list of numeric ids separated by comma (e.g. 25,37,68)</i></p>
       
        <div class="justify-content-left">
            <label class="control-label col-md-10" for="formIdList" >Customer list</label>
            <input class="col-md-10" [(ngModel)]="formIdList" type="text" name="formIdList" id="formIdList">
        </div>
        <div class="botoes col-md-8" >
            <button (click)="addList()" [disabled]="!formIdList.length"
                class='btn btn-primary'>Add</button>
        </div>
    </div>
</div>